.fix {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 5em;
  z-index: 9999999;
}

.header {
  width: 100vw;
  background-color: #f1e8b8;
  height: 3.5em;
  display: inline-flex;
  padding-top: 1.75vh;
  padding-bottom: 1.75vh;
}

.image {
  margin-left: 5vw;
}

.title {
  color: #cd2323;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 700;
  margin-left: 2vw;
  margin-top: 1.25vh;
}

@media (max-width: 600px) {
  .header {
    height: 4.25em;
  }

  .logo {
    width: 2.25em;
    height: 2.5em;
  }

  .title {
    width: 75vw;
    font-size: 22px;
    margin-left: 0.5em;
    text-align: center;
    margin-top: 0.25em;
  }
}

.manu_selection {
  display: inline-flex;
  margin-left: 30vw;
}

.types {
  font-family: "Roboto Flex";
  font-size: 22px;
  color: #191919;
  margin-left: 5vw;
  font-weight: 700;
  margin-top: 1.25vh;
}
