.center {
  display: table;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto Flex";
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.cell_bg {
  background-color: #f7f3db;
  border-radius: 10px;
  width: 45vw;
  height: 16.5vh;
  padding-top: 2vh;
  padding-left: 2vw;
  margin-bottom: 5vh;
}

.question {
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 22px;
}

.input {
  height: 6vh;
  width: 15vw;
  margin-top: 2vh;
  font-size: 20px;
  padding-left: 1vh;
  background-color: #fef3ba;
  border-radius: 7px;
  border: 1px solid #333333;
}

.select {
  height: 6vh;
  width: 15vw;
  margin-top: 2vh;
  font-size: 20px;
  padding-left: 1vh;
  background-color: #fef3ba;
  border-radius: 7px;
  border: 1px solid #333333;
  /* color: #707070; */
}

.black_text {
  color: #000;
}

.submit {
  background-color: #f1e8b8;
  color: #c51818;
  font-size: 25px;
  font-family: "Roboto Flex";
  font-weight: 500;
  width: 45vw;
  height: 7vh;
  border: none;
  border-radius: 10px;
}

.copyright_container {
  position: fixed;
  width: 100%;
  top: 95vh;
  left: 1vw;
  height: 5em;
  z-index: 999;
}

.copyright {
  width: 100vw;
  padding-top: 1.75vh;
  padding-bottom: 1.75vh;
  font-family: "Roboto Flex";
  color: #000;
}
