.center {
  display: table;
  margin: 0 auto;
}

.container {
  margin-bottom: 30vh;
}

.title {
  font-size: 34px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto Flex";
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.copyright {
  /* display: table;
  margin: 0 auto;
  font-family: "Roboto Flex"; */
  width: 100vw;
  padding-top: 1.75vh;
  padding-bottom: 1.75vh;
  font-family: "Roboto Flex";
  color: #000;
  /* margin-bottom: 4vh;
  color: #515151; */
}

.cell_bg {
  background-color: #f7f3db;
  border-radius: 10px;
  width: 45vw;
  height: 16.5vh;
  padding-top: 2vh;
  padding-left: 2vw;
  margin-bottom: 5vh;
}

.question {
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 22px;
}

.input {
  height: 6vh;
  width: 15vw;
  margin-top: 2vh;
  font-size: 20px;
  padding-left: 1vh;
  background-color: #fef3ba;
  border-radius: 7px;
  border: 1px solid #333333;
}

.select {
  height: 6vh;
  width: 20vw;
  margin-top: 2vh;
  font-size: 20px;
  padding-left: 1vh;
  background-color: #fef3ba;
  border-radius: 7px;
  border: 1px solid #333333;
}

.black_text {
  color: #000;
}

.submit {
  background-color: #f1e8b8;
  color: #c51818;
  font-size: 25px;
  font-family: "Roboto Flex";
  font-weight: 500;
  width: 47vw;
  height: 7vh;
  border: none;
  border-radius: 10px;
}


.submit:hover {
  cursor: pointer;
}

.submitted {
  text-align: center;
  margin-top: 2vh;
  font-family: "Roboto Flex";
  color: #fff;
  font-size: 20px;
}

.copyright_container {
  position: fixed;
  width: 100%;
  top: 95vh;
  left: 1vw;
  height: 5em;
  z-index: 999;
}

.submitted_box{
  background-color: #f7f7f7;
  width: 42vw;
  height: 20vh;
  margin-top: 20vh;
  border-radius: 10px;
  border-top: 20px solid #ffe047;
  padding: 2em;
}

.response {
  font-size: 40px;
  font-family: 'Roboto Flex';
  margin-bottom: 1em;
}

.thank_you{
  font-size: 20px;
  font-family: 'Roboto Flex';

}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
    margin-top: -1em;
    margin-bottom: 1em;
    padding: 0 2em;
  }

  .copyright {
    margin-bottom: 1em;
  }

  .cell_bg {
    background-color: #f7f3db;
    border-radius: 10px;
    width: 20em;
    height: 9em;
    padding-top: 1.5em;
    padding-left: 1.5em;
    margin-bottom: 1.25em;
  }

  .question {
    font-family: "Roboto Flex";
    font-weight: 400;
    font-size: 18px;
  }

  .input {
    height: 2.75em;
    width: 12em;
    font-size: 18px;
  }

  .select {
    height: 2.75em;
    width: 15em;
    font-size: 18px;
  }

  .submit {
    font-size: 20px;
    width: 17.5em;
    height: 3em;
  }

  .container {
    margin-bottom: 5em;
  }

  .submitted_box{
    width: 20em;
    height: 7em;
    margin-top: 8em;
    border-radius: 10px;
    border-top: 15px solid #ffe047;
    padding: 1em;
  }
  
  .response {
    font-size: 28px;
    font-family: 'Roboto Flex';
    margin-bottom: 0.5em;
  }
  
  .thank_you{
    font-size: 14px;
    font-family: 'Roboto Flex';
  }
}